{% extends 'extend/base2.html' %}

{% block 'content' %}
{% load static %}
	<style>
		.messages {
			list-style-type: none;
			padding: 0;
		  }
		  
		  .message {
			padding: 10px 15px;
			margin-bottom: 10px;
			border-radius: 5px;
		  }
		  
		  .message.info {
			background-color: #e2f1ff;
			color: #007bff;
		  }
		  
		  .message.success {
			background-color: #d4edda;
			color: #28a745;
		  }
		  
		  .message.warning {
			background-color: #fff3cd;
			color: #ffc107;
		  }
		  
		  .message.error {
			background-color: #f8d7da;
			color: #dc3545;
		  }
		  
	</style>
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">

			<a href="" class="stext-109 cl8 hov-cl1 trans-04">
				{{ product.owner_detector }}
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{ product.product_name }}
			</span>
		</div>
	</div>
		
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								{% for img in product.img.all %}

								<div class="item-slick3" data-thumb="{{ img.img.url }}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ img.img.url }}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ img.img.url }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								{% endfor %}
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							{{ product.product_name }}
						</h4>

						<span class="mtext-106 cl2">
							${{ product.price }}
						</span>

						<p class="stext-102 cl3 p-t-23">
							{{ product.description }}
						</p>
						
						<!--  -->
						<div class="p-t-33">
							<form id="add-to-cart-form" method="post" action="{% url 'add_to_cart' %}">
								{% csrf_token %}
								<input type="hidden" name="product_id" id="product-id-input" value="{{ product.id }}">
								<input type="hidden" name="size" id="size-input">
								<input type="hidden" name="color" id="color-input">
								<input type="hidden" name="quantity" id="quantity-input">
						
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">Size</div>
									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="size-selector" id="size-selector">
												{% for size in product.size.all %}
													<option value="{{ size.id }}">Size {{ size.size }}</option>
												{% endfor %}
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>
								
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">Color</div>
									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="color-selector" id="color-selector">
												<option value="{{ product.color.id }}">{{ product.color.color }}</option>
												{% for prod in products_with_same_code %}
													{% if prod.color.id != product.color.id %}
														<option value="{{ prod.color.id }}">{{ prod.color.color }}</option>
													{% endif %}
												{% endfor %}
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>
						
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>
											<input class="mtext-104 cl3 txt-center num-product" type="number" name="quantity-selector" id="quantity-selector" value="1">
											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>
										<button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
											Add to cart
										</button>
									</div>
								</div>
								{% if messages %}
									<ul class="messages">
										{% for message in messages %}
										<li class="message {{ message.tags }}">
											{{ message }}
										</li>
										{% endfor %}
									</ul>
								{% endif %}
							</form>
						</div>
						
						
						
						
						
						
						

						<!--  -->
						<div class="flex-w flex-m p-l-100 p-t-40 respon7">
							{% if user.is_authenticated %}
							<div class="flex-m bor9 p-r-10 m-r-11">
								<a href="#" class="btn-addwish-b2 dis-block pos-relative" data-product-id="{{ product.id }}">
									{% if product.id in liked_product_ids %}
										<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
										<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
									{% else %}
										<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
										<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
									{% endif %}
								</a>
							</div>
							{% endif %}

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
								<i class="fa fa-facebook"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
								<i class="fa fa-twitter"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
						</li>

						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
						</li>

						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews ({{ reviews|length  }})</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-43">
						<!-- - -->
						<div class="tab-pane fade show active" id="description" role="tabpanel">
							<div class="how-pos2 p-lr-15-md">
								<p class="stext-102 cl6">
									{{ product.description }}
								</p>
							</div>
						</div>

						<!-- - -->
						<div class="tab-pane fade" id="information" role="tabpanel">
							<div class="row">
								<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
									<ul class="p-lr-28 p-lr-15-sm">
										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Weight
											</span>

											<span class="stext-102 cl6 size-206">
												{{ product.weight }} kg
											</span>
										</li>

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Dimensions
											</span>

											<span class="stext-102 cl6 size-206">
												{{ product.dimensions }} cm
											</span>
										</li>

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Materials
											</span>

											<span class="stext-102 cl6 size-206">
												{{ product.material }}
											</span>
										</li>

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Color
											</span>

											<span class="stext-102 cl6 size-206">
												{% for prod in products_with_same_code %}
													{% if forloop.last %}
														{{ prod.color.color }}
													{% else %}
														{{ prod.color.color }},
													{% endif %}
												{% endfor %}
											</span>
										</li>

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Size
											</span>

											<span class="stext-102 cl6 size-206">
												{% for size in product.size.all %}
													{% if forloop.last %}
														{{ size.size }}
													{% else %}
														{{ size.size }},
													{% endif %}
												{% endfor %}
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- - -->
						<div class="tab-pane fade" id="reviews" role="tabpanel">
							<div class="row">
								<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
									<div class="p-b-30 m-lr-15-sm">
										<!-- Review -->
										{% for review in reviews %}
										<div class="flex-w flex-t p-b-68">
											<div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
												<img src="{% static 'images/user.png' %}" alt="AVATAR">
											</div>

											<div class="size-207">
												<div class="flex-w flex-sb-m p-b-17">
													<span class="mtext-107 cl2 p-r-20">
														{{ review.user.username }}
													</span>

													<span class="fs-18 cl11">
														{% if review.rating == 1 %}
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
														{% elif review.rating == 2 %}
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
														{% elif review.rating == 3 %}
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
														{% elif review.rating == 4 %}
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star-outline"></i>
														{% elif review.rating == 5 %}
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
														{% else %}
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
															<i class="zmdi zmdi-star-outline"></i>
														{% endif %}
													</span>
												</div>

												<p class="stext-102 cl6">
													{{ review.review_text }}
												</p>
											</div>
										</div>
										{% endfor %}
										<!-- Add review -->

										{% if user.is_authenticated %}
										<form class="w-full" method="post" action="{% url 'add_review' product.id %}">
											{% csrf_token %}
											<h5 class="mtext-108 cl2 p-b-7">Add a review</h5>
											<p class="stext-102 cl6">Your email address will not be published. Required fields are marked *</p>
											
											<!-- Your rating stars and hidden input -->
											<div class="flex-w flex-m p-t-50 p-b-23">
												<span class="stext-102 cl3 m-r-16">Your Rating</span>
												<span class="wrap-rating fs-18 cl11 pointer">
													<i class="item-rating pointer zmdi zmdi-star-outline" onclick="setRating(1)"></i>
													<i class="item-rating pointer zmdi zmdi-star-outline" onclick="setRating(2)"></i>
													<i class="item-rating pointer zmdi zmdi-star-outline" onclick="setRating(3)"></i>
													<i class="item-rating pointer zmdi zmdi-star-outline" onclick="setRating(4)"></i>
													<i class="item-rating pointer zmdi zmdi-star-outline" onclick="setRating(5)"></i>
												</span>
												<!-- Hidden input for rating -->
												<input class="dis-none" type="number" name="rating" id="ratingInput">
											</div>
											
											<!-- Review input -->
											<div class="row p-b-25">
												<div class="col-12 p-b-5">
													<label class="stext-102 cl3" for="review">Your review</label>
													<textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review" name="review"></textarea>
												</div>
											</div>
											
											<!-- Submit button -->
											<button type="submit" class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10">
												Submit
											</button>
										</form>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<!-- Related Products -->
	<section class="sec-relate-product bg0 p-t-45 p-b-105">
		<div class="container">
			<div class="p-b-45">
				<h3 class="ltext-106 cl5 txt-center">
					Related Products
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">
					{% for product in products%}
						<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									{% for img in product.img.all %}
										{% if forloop.first %}
											<img src="{{ img.img.url }}" alt="IMG-PRODUCT">
										{% endif %}
									{% endfor %}
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="{% url 'product_detail' product.id product.code %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											{{ product.product_name }}
										</a>

										<span class="stext-105 cl3">
											${{ product.price }}
										</span>
									</div>

									{% if user.is_authenticated %}
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative" data-product-id="{{ product.id }}">
											{% if product.id in liked_product_ids %}
												<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
												<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
											{% else %}
												<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
												<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
											{% endif %}
										</a>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	
	<script src="{% static 'js/like.js' %}"></script>	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		function setRating(value) {
			// Set the value of the hidden input field
			document.getElementById('ratingInput').value = value;
			
			// Update the star icons display based on the selected rating
			let stars = document.getElementsByClassName('item-rating');
			for (let i = 0; i < stars.length; i++) {
				if (i < value) {
					stars[i].classList.remove('zmdi-star-outline');
					stars[i].classList.add('zmdi-star');
				} else {
					stars[i].classList.remove('zmdi-star');
					stars[i].classList.add('zmdi-star-outline');
				}
			}
		}
		$(document).ready(function() {
			$('.js-select2').on('change', function() {
				var url = $(this).find(':selected').data('url');
				if (url) {
					window.location.href = url;
				}
			});
		});







		




		document.addEventListener('DOMContentLoaded', function() {
			const form = document.getElementById('add-to-cart-form');
		
			form.addEventListener('submit', function(event) {
				const sizeSelector = document.getElementById('size-selector');
				const colorSelector = document.getElementById('color-selector');
				const quantitySelector = document.getElementById('quantity-selector');
		
				const sizeInput = document.getElementById('size-input');
				const colorInput = document.getElementById('color-input');
				const quantityInput = document.getElementById('quantity-input');
		
				sizeInput.value = sizeSelector.value;
				colorInput.value = colorSelector.value;
				quantityInput.value = quantitySelector.value;
			});
		});
		
		
		
		
		
		
		










	</script>

{% endblock %}
